<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238150108320-5j4meo2vo14odemopuihhau2jd64t3h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238150108320-5j4meo2vo14odemopuihhau2jd64t3h1</string>
	<key>API_KEY</key>
	<string>AIzaSyCyuUhxw7h2_7KYRAPzFb1jfdwQIBEsJ_k</string>
	<key>GCM_SENDER_ID</key>
	<string>238150108320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PrashannaR.Hack-a-note</string>
	<key>PROJECT_ID</key>
	<string>hack-a-note</string>
	<key>STORAGE_BUCKET</key>
	<string>hack-a-note.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238150108320:ios:6859ce1c488b51c56cf5c5</string>
</dict>
</plist>